global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

# Optional: Stats Dashboard (accessible at :8404)
frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s

frontend http-in
    bind *:80

    acl is_api path_beg /api
    
    use_backend rust_backend if is_api
    default_backend go_frontend

backend go_frontend
    server srv1 frontend:8080 check

backend rust_backend
    # 'backend' is the service name in docker-compose
    # We strip the "/api" prefix before sending it to the Rust server
    http-request replace-path /api(/|)(.*) /\2
    server srv1 backend:3000 check
