<section class="comments">
  <button class="show-hide">Show comments</button>

  <div class="comment-wrapper">
    <h2>Add comment</h2>
    <form class="comment-form">
      <div class="flex-pair">
        <label for="name">Your name:</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Enter your name"
        />
      </div>
      <div class="flex-pair">
        <label for="comment">Your comment:</label>
        <input
          type="text"
          name="comment"
          id="comment"
          placeholder="Enter your comment"
        />
      </div>
      <div>
        <input type="submit" value="Submit comment" />
      </div>
    </form>

    <h2>Comments</h2>
    <ul class="comment-container">
      <li>
        <p><strong>Bob Fossil</strong></p>
        <p>
          Oh I am so glad you taught me all about the big brown angry
          guys...
        </p>
      </li>
    </ul>
  </div>
</section>